com.alfred:
  region: "REGIAN OF YOUR ACCOUNT"
  accessKey: "YOUR ACCESS KEY HERE"
  secretKey: "YOUR SECREY KEY HERE"
  emailSender: "YOUR SENDER E-MAIL ADDRESS TO TEST SEND"
  emailReceiver: "YOUR RECEIVER E-MAIL ADDRESS TO TEST"
